@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

body {
  background: rgb(255, 255, 255);
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.primary-font {
  font-family: 'Inter', sans-serif;
  font-style: normal;
}

.primary-text-color {
  color: #172b4d;
}

.secondary-text-color {
  color: #36b37f;
}

.u-margin {
  margin: 0 24px 0 24px;
}

.heading {
  font-weight: bold;
  font-size: 40px;
  line-height: 130%;
}

.paragraph {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  margin: 20px 24px 0 24px;
  text-align: center;
  line-height: 140%;
}

.center-text {
  text-align: center;
}

header {
  display: flex;
  justify-content: center;
  margin: 0 24px 0 24px;
}

#logo {
  align-items: center;
}

#logo-text {
  display: flex;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 20px;
  align-items: center;
  height: 100%;
  text-decoration: none;
}

#menu {
  width: 40px;
}

.center {
  width: 50%;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

#content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("../assets/header_illsutration.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  min-height: 100vh;
  align-items: center;
}

.social-icons {
  display: flex;
  justify-content: center;
  margin-top: 58px;
  align-content: center;
  align-items: center;
}

.social-icons > li {
  margin: 5px 5px 5px 5px;
}

.card > img {
  margin-top: 40px;
}

.social-icons > li > a > img {
  width: 20px;
}

.scroll-down-btn {
  background-image: url("../assets/Icons/chevron.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 32px;
  border: 1px solid #dfe1e6;
  margin-top: 50px;
}

#works {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 8em 2em;
  grid-row-gap: 24px;
  justify-items: center;
  text-align: center;
}

.indicator {
  width: 48px;
  height: 4px;
  background-color: #36b37f;
  justify-self: center;
}

.work-item {
  display: grid;
  grid-template-rows: 252px;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
  background: #ebf0ee;
  width: 327px;
}

.work-item-details {
  display: flex;
  flex-direction: column;
  grid-row-start: 2;
  background: #fff;
  border-radius: 8px;
  align-items: center;
}

.work-item-lang {
  display: flex;
  margin: 16px 2px;
  justify-content: space-between;
}

.lang-item {
  background: #ebf0ee;
  border-radius: 4px;
  padding: 4px 12px;
  margin: 0 5px;
}

.lang-item > p {
  font-size: 12px;
  font-weight: 600;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #36b37f;
  border-radius: 4px;
  border: none;
  color: #fff;
  padding: 12px;
  min-width: 122px;
  min-height: 48px;
  font-weight: 500;
  font-size: 17px;
  text-decoration: none;
  margin: 12px 12px;
  line-height: 28px;
  text-align: center;
}

.button > span {
  position: absolute;
}

.button:hover {
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
}

.button:active {
  background: #008552;
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
}

.about-bg-1 {
  position: absolute;
  top: 0;
  right: 0;
}

.about-bg-2 {
  position: absolute;
  bottom: 0;
  left: 0;
}

#about {
  position: relative;
}

#about-wraper {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin-top: 25px;
}

#about-wraper > h2 {
  margin: 68px 0 24px 0;
}

#about-wraper > p {
  font-size: 20px;
  line-height: 32px;
  margin: 24px 0;
}

#cards {
  margin-top: 68px;
  display: grid;
  row-gap: 24px;
}

.card {
  display: flex;
  flex-direction: column;
  background: #ebf0ee;
  border: 1px solid #c1c7d0;
  box-sizing: border-box;
  border-radius: 8px;
  align-items: center;
  text-align: center;
  min-height: 400px;
}

.card > h3 {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-list > li {
  background: #fff;
  border-radius: 8px;
  margin: 10px 8px 0 8px;
  padding: 12px;
  color: #36b37e;
}
