@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

html {
  overflow-x: hidden;
}

body {
  background: rgb(255, 255, 255);
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.primary-font {
  font-family: 'Inter', sans-serif;
  font-style: normal;
}

.primary-text-color {
  color: #172b4d;
}

.secondary-text-color {
  color: #36b37f;
}

.u-margin {
  margin: 0 24px 0 24px;
}

.heading {
  font-weight: bold;
  font-size: 40px;
  line-height: 130%;
}

.paragraph {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  margin: 20px 24px 0 24px;
  text-align: center;
  line-height: 140%;
}

.center-text {
  text-align: center;
}

header {
  display: flex;
  justify-content: center;
  margin: 0 24px 0 24px;
}

#logo {
  align-items: center;
}

#logo-text {
  display: flex;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 20px;
  align-items: center;
  height: 100%;
  text-decoration: none;
}

#menu {
  width: 40px;
}

.center {
  width: 50%;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

#content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("../assets/header_illsutration.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  min-height: 100vh;
  align-items: center;
}

.social-icons {
  display: flex;
  justify-content: center;
  margin-top: 58px;
  align-content: center;
  align-items: center;
}

.social-icons > li {
  margin: 5px 5px 5px 5px;
}

.card > img {
  margin-top: 40px;
}

.social-icons > li > a > img {
  width: 20px;
}

.scroll-down-btn {
  background-image: url("../assets/Icons/chevron.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 32px;
  border: 1px solid #dfe1e6;
  margin-top: 50px;
}

#works {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 8em 2em auto;
  grid-row-gap: 24px;
  justify-items: center;
  text-align: center;
}

#items-container {
  display: grid;
  grid-template-columns: 100%;
  grid-row-gap: 24px;
}

.indicator {
  width: 48px;
  height: 4px;
  background-color: #36b37f;
  justify-self: center;
}

.work-item {
  display: grid;
  grid-template-rows: 252px;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
  width: 327px;
  z-index: 1000;
}

.rounded-img {
  margin: 2px;
}

.project-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  transition: transform 1s ease-in-out;
}

.project-image:hover {
  transform: scale(1.1);
  transition: transform 1s ease-in-out;
}

.work-item-details {
  display: flex;
  flex-direction: column;
  grid-row-start: 2;
  background: #fff;
  border-radius: 8px;
  align-items: center;
}

.work-item-lang {
  display: flex;
  margin: 16px 2px;
  justify-content: space-between;
}

.lang-item {
  background: #ebf0ee;
  border-radius: 4px;
  padding: 4px 12px;
  margin: 0 5px;
}

.lang-item > p {
  font-size: 12px;
  font-weight: 600;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #36b37f;
  border-radius: 4px;
  border: none;
  color: #fff;
  padding: 12px;
  min-width: 122px;
  min-height: 48px;
  font-weight: 500;
  font-size: 17px;
  text-decoration: none;
  margin: 12px 12px;
  line-height: 28px;
  text-align: center;
  
}

.button > span {
  position: absolute;
}

.button:hover {
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
  transition: box-shadow 0.5s ease-in;
}

.button:active {
  background: #008552;
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
}

#about {
  position: relative;
}

#about-wraper {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin-top: 25px;
}

.about-bg-1 {
  background-image: url("../assets/i_about_me_t.png");
  width: 68px;
  height: 110px;
  position: absolute;
  top: 0;
  right: 0;
}

.about-bg-2 {
  background-image: url("../assets/i_about_me_b.png");
  width: 71px;
  height: 65px;
  position: absolute;
  bottom: 0;
  left: 0;
}

#about-wraper > h2 {
  margin: 68px 0 24px 0;
}

#about-wraper > p {
  font-size: 20px;
  line-height: 32px;
  margin: 24px 0;
}

#cards {
  margin-top: 68px;
  display: grid;
  row-gap: 24px;
}

.card {
  display: flex;
  flex-direction: column;
  background: #ebf0ee;
  border: 1px solid #c1c7d0;
  box-sizing: border-box;
  border-radius: 8px;
  align-items: center;
  text-align: center;
  min-height: 400px;
}

.card > h3 {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-list > li {
  background: #fff;
  border-radius: 8px;
  margin: 10px 8px 0 8px;
  padding: 12px;
  color: #36b37e;
}

footer {
  text-align: center;
}

#form-container {
  position: relative;
}

#form-text {
  font-size: 40px;
  line-height: 52px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  height: 48px;
}

.text-fields {
  outline: none !important;
  border: 1px solid #d0d9d4;
  border-radius: 4px;
  padding-left: 16px;
  margin: 12px 0;
  width: 100%;
}

.text-fields:focus {
  border: 1px solid #36b37e;
}

#desktop-field {
  display: none;
}

textarea {
  padding-top: 12px;
  min-height: 200px;
}

.footer-icons {
  margin-top: 32px;
}

.email {
  height: 189px;
  font-size: 20px;
}

.bar {
  margin-top: 150px;
  background-image: url('../assets/light.png');
  background-repeat: no-repeat;
  background-size: contain;
  min-width: 100%;
  height: 50px;
}

#bg-footer {
  background-image: url('../assets/illustration-contact-form.png');
  width: 92px;
  height: 132px;
  position: absolute;
  bottom: 200px;
  right: -65px;
}

#nav-elements,
#line {
  display: none;
}

.desktop-footer-bg {
  display: none;
}

@media only screen and (min-width: 992px) {
  #logo {
    display: none;
  }

  #menu {
    display: none;
  }

  header {
    display: flex;
  }

  nav {
    display: flex;
    justify-content: center;
    text-align: left;
  }

  #nav-elements {
    display: flex;
    column-gap: 24px;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    margin-top: 26px;
  }

  #nav-elements > li:hover {
    transition: color 0.5s linear;
    color: #36b37e;
  }

  #container {
    background-image: url("../assets/Header-llustration-desktop.png");
    background-position: 1.8em 0;
    background-repeat: no-repeat;
  }

  #content {
    background-size: 0 0;
    margin: 0 18em;
  }

  .indicator {
    display: none;
  }

  #works {
    grid-template-rows: 8em auto;
  }

  #items-container {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-row-gap: 24px;
    grid-column-gap: 24px;
  }

  #works > h2 {
    display: block;
    width: 100%;
  }

  #about-wraper {
    margin: 10em 18em 2em 18em;
  }

  .about-bg-1 {
    background-image: url("../assets/about-bg-desk-1.png");
    width: 270px;
    height: 245px;
    background-repeat: no-repeat;
    position: absolute;
    top: -3em;
    right: -3em;
  }

  .about-bg-2 {
    background-image: url("../assets/about-bg-desk-2.png");
    width: 270px;
    height: 245px;
    background-repeat: no-repeat;
    position: absolute;
    bottom: -5em;
    left: 0;
  }

  #cards {
    display: flex;
    justify-content: space-between;
    margin: 2em 10em 5em 10em;
  }

  .card {
    margin: 0 12px;
    width: 33%;
    padding: 12px 0;
  }

  #form-container {
    margin: 2em 10em 2em 10em;
  }

  #form-flex-block {
    display: flex;
    align-items: center;
  }

  #form-text {
    flex: 1 0.3em;
    margin-right: 1em;
    text-align: center;
    font-size: 1.6em;
    line-height: 52px;
    margin-top: -5em;
  }

  #form-flex-block > form {
    flex: 1.5 0.7em;
  }

  #form-flex-block > form > div {
    width: 100%;
    margin-left: 0;
  }

  #form-flex-block > form > div > button {
    margin-left: -10px;
  }

  .bar,
  #bg-footer,
  .email {
    display: none;
  }

  #desktop-field {
    display: flex;
    border: none;
    width: 100%;
    margin-bottom: -0.75em;
  }

  #desktop-field > input {
    flex: 1 0.5em;
  }

  #firstname {
    margin-right: 20px;
    margin-left: -10px;
  }

  #lastname {
    margin-right: -10px;
  }

  #footer-icons {
    margin-top: 20em;
    margin-bottom: 0;
  }

  #line {
    display: block;
    position: relative;
    height: 1px;
    width: 100%;
    background: #dfe1e6;
    bottom: 6em;
  }

  .desktop-footer-bg {
    display: block;
  }

  #bg-footer-d-l {
    position: absolute;
    width: 235.78px;
    height: 261.79px;
    background-image: url("../assets/illustration-1-contact-form-desktop.png");
    background-repeat: no-repeat;
    background-size: contain;
    bottom: 5em;
    left: -12em;
  }

  #bg-footer-d-c {
    position: absolute;
    width: 130.28px;
    height: 105.87px;
    background-image: url("../assets/illustration-2-contact-form-desktop.png");
    background-repeat: no-repeat;
    background-size: contain;
    bottom: 10em;
    left: 5em;
  }

  #bg-footer-d-r {
    position: absolute;
    width: 313.9px;
    height: 448.7px;
    background-image: url("../assets/contact-form-illustratoin-3-desktop.png");
    background-repeat: no-repeat;
    background-size: contain;
    bottom: 4em;
    right: -18.5em;
  }
}
